[submodule "submodule/RsaCtfTool"]
	path = submodule/RsaCtfTool
	url = https://github.com/RsaCtfTool/RsaCtfTool
[submodule "submodule/jwt_tool"]
	path = submodule/jwt_tool
	url = https://github.com/ticarpi/jwt_tool
